@model Otel_Sistemi.Models.AboutItem
@{
    ViewData["Title"] = "Madde Düzenle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Madde Düzenle</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>Madde</label>
        <input type="text" asp-for="Madde" class="form-control" />
        <span asp-validation-for="Madde" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>
