@{
    ViewData["Title"] = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Eğer layout kullanıyorsan
}

<!-- Rooms Section Begin -->
<section class="rooms-section spad">
    <div class="container">
        <div class="section-title">
            <span>OUR ROOMS</span>
            <h2>Explore Our Hotel</h2>
        </div>
        <div class="row">

            <!-- Room 1 -->
            <div class="col-lg-4 col-md-6">
                <div class="room-item">
                    <img src="~/img/room/room-1.jpg" alt="Room 1">
                    <div class="ri-text">
                        <h4>Premium King Room</h4>
                        <h3>159$<span>/Pernight</span></h3>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Size:</td>
                                    <td>30 ft</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Capacity:</td>
                                    <td>Max person 5</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Bed:</td>
                                    <td>King Beds</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Services:</td>
                                    <td>Wifi, Television, Bathroom...</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="/Room/Details/1" class="primary-btn">More Details</a>
                    </div>
                </div>
            </div>

            <!-- Room 2 -->
            <div class="col-lg-4 col-md-6">
                <div class="room-item">
                    <img src="~/img/room/room-2.jpg" alt="Room 2">
                    <div class="ri-text">
                        <h4>Deluxe Room</h4>
                        <h3>198$<span>/Pernight</span></h3>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Size:</td>
                                    <td>30 ft</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Capacity:</td>
                                    <td>Max person 4</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Bed:</td>
                                    <td>Double Beds</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Services:</td>
                                    <td>Wifi, TV, Bathtub...</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="/Room/Details/2" class="primary-btn">More Details</a>
                    </div>
                </div>
            </div>

            <!-- Room 3 -->
            <div class="col-lg-4 col-md-6">
                <div class="room-item">
                    <img src="~/img/room/room-3.jpg" alt="Room 3">
                    <div class="ri-text">
                        <h4>Family Room</h4>
                        <h3>299$<span>/Pernight</span></h3>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Size:</td>
                                    <td>45 ft</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Capacity:</td>
                                    <td>Max person 6</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Bed:</td>
                                    <td>2 King Beds</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Services:</td>
                                    <td>Wifi, TV, Jacuzzi...</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="/Room/Details/3" class="primary-btn">More Details</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Rooms Section End -->
